body, html {
    font-family: Arial, sans-serif;
    overflow-x: hidden;
    margin-left: -5px;
}

.navbar {
    user-select: none;
    width: 100vw;
    height: 60px;
    z-index: 9999;
    background: linear-gradient(to top,#49a1ff,#1385ff); 
    position: fixed;
    padding-bottom: 40px;
    box-shadow: 10px 10px 50px rgba(0, 0, 0, 0.581);
    margin-top: -10px;

}

.navbar img[src="picture/icon_p.png"] {
    width: 80px;
    height: 80px;
    margin-left: 50px;
    margin-top: 10px;
}

.navbar img[src="picture/icon_text.png"] {
    width: 230px;
    height: 40px;
    margin-left: 10px;
    transform: translateY(-20px);
}

.navbar button {
    height: 40px;
    margin-left: 5px;
    font-size: 20px;
    color: white;
    text-align: center;
    text-decoration: none;
    user-select: none;
    width: 120px;
    border-radius: 5px;
    background-color: transparent;
    border: none;
    transition: background-color 0.5s ;
}

.navbar button:hover {
    background-color: #1749fc;
    color: white; 
    transition: all 0.5s;
}

.navbar div {
    margin-left: 40%;
    margin-top: -60px;
}

#title {
    font-size: 35px;
    font-weight: 700;
}

.footer {
    display: block;
    background-color: transparent;
    width: 100%;
    text-align: center;
}

.box {
    width: 20%;
    text-align: center;
}

/*home_menu*/
#home h1 {
    font-size: 50px;
    font-weight: 200;
    text-shadow: 0px 0px 10px rgb(99, 99, 99)
}

#home h3 {
    font-size: 20px;
    margin-top: -30px;
    text-shadow: 0px 0px 10px rgb(99, 99, 99)
}

#home {
    text-align: center;
}

#home p{
    width: 60%;
    display: inline-block;
    font-size: 20px;
    font-weight: 500;
    margin-top: 20px;
}

#menu.home {
    margin-left: 0px;
    transition: margin-left 1s;
}
/*/home_menu*/



/*project_menu*/
#project {
    text-align: center;
}
/*/project_menu*/



/*support_menu*/
#support {
    user-select: none;
    text-align: center;
}

#support h1 {
    font-size: 50px;
    font-weight: 200;
}

.support_box {
    width: 350px;
    height: 500px;
    margin-top: 50px;
    font-size: 30px;
    padding-top: 10px;
    border-radius: 10px;
    font-weight: 900;    
    display: inline-block;
    background: linear-gradient(#49a1ffde,#1385ff);
}

.support_box img {
    width: 300px;
    border-radius: 10px;
    margin-top: 20px;
}

#zanzhu_label {
    font-size: 30px;
    display: block;
}
/*/support_menu*/



/*about_menu*/
#menu.about {
    margin-left: -300vw;
    transition: margin-left 1s;
}

#icon {
    display: inline-block;
    margin-top: 50px;
    margin-left: -5%;
    margin-bottom: 100px;
    width: 300px;
}

#member_list {
    display: inline-block;
    font-size: 30px;
    margin-left: -5%;
}

.person_box {
    user-select: none;
    margin-left: 50px;
    margin-bottom: 80px;
    width: calc(40% - 10px);
    height: 200px;
    border-radius: 20px;
    box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.47);
    transition: all 0.5s;
}

.person_box:hover {
    box-shadow: 5px 5px 50px rgba(0, 0, 0, 0.823);
    transform: translateY(-20px);
    transition: all  0.5s;
}

.person_box img {
    width: 21%;
    height: 41%;
    margin-top: -40px;
    border-radius: 100px;
    box-shadow: 5px 5px 50px rgba(0, 0, 0, 0.823);
}

.name {
    margin-left: -55px;
    font-weight: 400;
    font-size: 20px;
}

.person_box div {
    margin-top: 20px;
    margin-left: 50px;
}

#big_person_box {
    width: 1000px;
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
}
/*/about_menu*/



/*news_menu*/
#menu.news {
    margin-left: -400vw;
    transition: all 1s;
}

#news_box {
    display: inline-block;
    width: 40%;
    border-radius: 10px;
}

#news_box ul {
    width: 100%;
    display: flex;
    justify-content: center; 
    align-items: center;   
    flex-wrap: wrap;
    list-style: none;     
    padding: 0;
}

#news_box ul li {
    width: 100%;
    text-align: center;
}

.news_box {
    display: inline-block;
    width: 80%;
    height: 250px;
    margin-bottom: 50px;
    box-shadow: 10px 10px 20px rgba(128, 128, 128, 0.684),
    inset 0px -5px 10px rgba(128, 128, 128, 0.527);
    border-radius: 20px;
    transition: all 0.5s;
}

.news_box:hover {
    box-shadow: 10px 10px 30px rgba(21, 21, 21, 0.772),
    inset 0px -5px 10px rgba(128, 128, 128, 0.527);
    transform: translateY(-20px);
    transition: all  0.5s;
}

.news_box h1 {
    font-size: 30px;
}

.news_box div p{
    width: 400px;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 20px;
}

.news_box div {
    width: 100%;
    text-align: center;
    margin-bottom: 50px;
}

.news_box label {
    margin-left: -70%;
}
/*/news_menu*/

#menu {
    display: flex;
    align-items: flex-start;
    margin-top: 5vw;
    width: 500vw;
}

#menu.project {
    margin-left: -100vw;
    transition: margin-left 1s;
}

#menu.support {
    margin-left: -200vw;
    transition: margin-left 1s;
}

#person_center_box {
    width: 100vw;
    background-color: 100px;
    display: flex;
    justify-content: center;
}

#findour {
    width: 100%;
    height: 400px;
    padding-top: 10px;
    background-color: rgba(230, 230, 230, 0.86);
    text-align: center;
}

#findour h3 {
    font-size: 30px;
    font-weight: 400;
}

#findour h1 {
    user-select: none;
    font-size: 40px;
}

#findour label {
    font-weight: 800;
    font-size: 20px;
}

.line {
    width: 30%;
    height: 3px;
    border: none;
    border-radius: 3px;
    background-color: rgb(181, 181, 181);
}

.introduce {
    width: 80%;
    font-size: 15px;
    font-weight: 1000;
}

#language {
    width: 100px;
    height: 100px;
    text-align: center;
    margin-left: 90%;
    transform: translateY(-20px);
    border-radius: 5px;
    font-size: 20px;
    background: none;
    color: white;
    border: none;
    display: inline-block;
}

#language_select {
    visibility: hidden;
    color: white;
    width: 100px;
    height: 0px;
    font-size: 20px;
    border-radius: 5px;
    border: 1px solid #1385ff;
    background: white;
    list-style-type: none;
    transform: translate(-20px,10px);
    transition: height 0.5s ease, visibility 0.3s ease;
}

#language_select.open {
    visibility: visible;
    height: 90px;
    transition: height 0.5s;
}

.navbar div div {
    transform: translate(50px,17px);
}

#language_select hr {
    width: 80%;
    margin-left: -10px;
}

.language_option {
    width: 80px;
    color: black;
    margin-left: -10px;
    text-align: center;
    border-radius: 5px;
}

.language_option:hover {
    background-color: #1385ff;
}

.language_option:active {
    background-color: #072e58de;
}

img[src="picture/language.png"] {
    width: 80px;
    height: 70px;
    transform: translateY(30px);
}